# Config file for isbas method (https://github.com/ericlindsey/isbas)
# you can safely add this section to other GMTSAR config files (batch.config)
[timeseries-config]

# sat_name should be S1, ALOS, or ALOS2
sat_name = ALOS

# timeseries options: ISBAS or SBAS.
# SBAS runs much faster but includes only pixels that are coherent in all interferograms,
# while ISBAS allows intermittently coherent pixels to be included.
ts_type = ISBAS
# minimum number of good igrams for ISBAS, or -1 for full-rank pixels only. Ignored if ts_type = SBAS.
nsbas_min_intfs = -1

# Define location of zero pixel, and reference box half-width (in number of pixels)
reflat = -8.55
reflon = 115.30
refnum = 10

# name of grid file containing unwrapped phase in radians
unwrap_file = unwrap_mask_ll_pad.grd
# how to name the coordinates in the output grd files - either 'xy' or 'lonlat'
grdnaming = xy

#name of PRM file (to read satellite wavelength)
prm_file = topo/master.PRM

#name of intf file
intf_file = intf.in

#name of baseline table file
baseline_file = raw/baseline_table.dat

# whether to compute the average velocity for each pixel
calcrate = True

#de-trending options
detrend = True
trendparams = 3

# name of GPS velocity file, optional to be used for de-trending
gps_file =
constrainedtrend = False

# check for unwrapping errors using cycle voting method: minimum number of votes to keep pixel
# if your interferogram network is dense, this helps remove bad pixels that may be affected by unwrapping errors.
# however, the method is not perfect and simply removes pixels from the final timeseries rather than trying to correct the errors.
# set to 0 to skip this step.
unw_check_threshold = 0

# whether to plot the final results
makeplots = True

